.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  background: #000;
  position: fixed;
  z-index: 10;
  a {
    text-decoration: none;
    padding: 0px 20px;
    color: #fff;
  }
  img {
    margin-left: 20px;
  }
  .menu {
    display: none;
    background: none;
    border: none;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    display: block !important;
    color: #fff;
    font-size: 40px;
  }
  a {
    display: none;
  }
}
